<h1>Sessions#create</h1>Carlos Gutierrez is inviting you to a scheduled Zoom meeting.

Topic: kahoot
Time: Feb 13, 2021 01:00 PM Bogota

Join Zoom Meeting
https://microverse.zoom.us/j/99014160992?pwd=VmFnaFNnQXUxdE9WVS93L1lTTEVvdz09

Meeting ID: 79887099


Passcode: 798870997
One tap mobile
+13126266799,,99014160992# US (Chicago)
+19292056099,,99014160992# US (New York)

Dial by your location
        +1 312 626 6799 US (Chicago)






        +1 301 715 8592 US (Washington DC)
        +1 346 248 7799 US (Houston)
        +1 669 900 6833 US (San Jose)
        +1 253 215 8782 US (Tacoma)
Meeting ID: 990 1416 0992
Find your local number: https://microverse.zoom.us/u/aexGWLkqXM
