<div class="container mt-5">
<h2 class="text-center">Register to: </h2>
<h1 class="text-center">MyTransactions</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
<br/>
</div>

<% if logged_in? %>
<h1><%= current_name %></h1>
<% end %>