<p id="notice"><%= notice %></p>
<div class="container">
<h1 class="text-center">Editing Transaction</h1>

<%= render 'form', tran: @tran %>

<%= link_to 'Show', @tran %> |
<%= link_to 'Back', trans_path %>
</div>
